{% extends 'tour/base/base_no_header.html' %}

<!--구글 로그인 이용-->
{% load socialaccount %}

{% block nav_area %}
    {% include 'tour/base/navbar/base_navbar_user.html' %}
{% endblock %}

<div class="container">
{% block main_area %}
    <div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover" data-stellar-background-ratio="0.2">
		<div class="desc">
			<div class="container">
				<div class="row">

					<div class="col-sm-5 col-md-5">
						<div class="tabulation animate-box">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">이메일 로그인</a>
								</li>
								<li role="presentation">
									<a href="#signup_with" aria-controls="signup_with" role="tab" data-toggle="tab">간편 로그인</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<!--이메일 로그인-->
								<div role="tabpanel" class="tab-pane active" id="signup">
									<div class="row">
                                        <form method="POST"> {% csrf_token %}
										<!--username-->
										<div class="col-xxs-12 col-xs-12 mt">
											<div class="input-field">
                                                <label>사용자 이름:</label>
                                                <input name="username" type="text" class="form-control" placeholder="username"/>
                                            </div>
										</div>
										<!--password-->
										<div class="col-xxs-12 col-xs-12 mt">
											<div class="input-field">
                                                <label>비밀번호:</label>
                                                <input name="password" type="password" class="form-control" placeholder="password" style="background-color:#F2EFEC; color:#F78536;"/>
                                            </div>
										</div>

                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <input type="submit" class="btn btn-primary btn-block" value="로그인">
                                        </div>
                                        </form>
									</div>
								</div>

								<!--간편 로그인-->
								<div role="tabpanel" class="tab-pane" id="signup_with">
									<div class="row">
                                        <div class="col-xxs-12 col-xs-12 mt">
											<!--구글 로그인-->
											<a href="{% provider_login_url 'google' %}" role="button" class="btn btn-primary btn-outline btn-block btn-sm">
												<i class="fab fa-google"></i>&nbsp;&nbsp; Log In with Google
											</a>
											<!--키키오 로그인-->
											<a href="/accounts/kakaoLoginLogic" role="button" class="btn btn-primary btn-outline btn-block btn-sm">
												<i class="fab fa-kaggle"></i>&nbsp;&nbsp; Log In with Kakao
											</a>
                                        </div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!--헤더 오른쪽-->
					<div class="desc2 animate-box">
						<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
							<p>Internet Programming <a href="https://github.com/minWachya/DS_InternetProgramming_20190054" target="_blank" class="fh5co-site-name">minWachya</a></p>
							<h2>로그인</h2>
                            <h3>아직 회원이 아니신가요?</h3>
                            <p><a class="btn btn-primary btn-lg" href="/accounts/signup/">회원가입</a></p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
</div>

<script>

var ws = new WebSocket('ws://127.0.0.1:8000');
ws.onopen = (event) => {
  let sendData = { event: 'open' }
  ws.send(JSON.stringify(sendData));
}
ws.onmessage = (event) => {
  let recData = JSON.parse(event.data);
  switch (recData.event) {
    case 'response':
      console.log(recData.data);
      break;
  }
}

function myOnClick() {
  let sendData = {
    event: 'request',
    data: 'some data...'
  };
  ws.send(JSON.stringify(sendData));
}
</script>
