<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(../../../../static/tour/images/jeju.JPG);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="tabulation animate-box">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#place" aria-controls="place" role="tab" data-toggle="tab">여헹 장소 검색</a>
                                </li>
                                <li role="presentation">
                                    <a href="#date" aria-controls="date" role="tab" data-toggle="tab">여행 날짜 검색</a>
                                </li>
                                <li role="presentation">
                                    <a href="#price" aria-controls="price" role="tab" data-toggle="tab">여행 가격 검색</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--여행 장소 검색-->
                                <div role="tabpanel" class="tab-pane active" id="place">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <h3 style="color:black;">관심있는 여행지를 검색하세요.</h3>
                                                <label>여행 장소:</label>
                                                <input id="search-input-place" type="text" class="form-control" placeholder="지금 '제주'를 검색하세요!"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="여행 장소 검색" onclick="searchPlace()">
                                        </div>
                                    </div>
                                </div>
                                <!--여행 날짜 검색-->
                                <div role="tabpanel" class="tab-pane" id="date">
                                    <div class="row">

                                        <div class="col-xxs-12 col-xs-12">
                                            <h3 style="color:black;">원하는 날짜로 검색하세요.</h3>
                                       </div>

                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label>여행 시작 날짜:</label>
                                                <input id="search-input-date1" type="text" class="form-control" placeholder="yyyy-mm-dd"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label>여행 종료 날짜:</label>
                                               <input id="search-input-date2" type="text" class="form-control" placeholder="yyyy-mm-dd"/>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="야행 날짜 검색" onclick="searchDate()">
                                        </div>

                                    </div>
                                </div>
                                <!--여행 가격 검색-->
                                <div role="tabpanel" class="tab-pane" id="price">
                                    <div class="row">

                                        <div class="col-xxs-12 col-xs-12">
                                            <h3 style="color:black;">원하는 가격대로 검색하세요.</h3>
                                        </div>

                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label>최저가:</label>
                                                <input id="search-input-price1" type="text" class="form-control" placeholder="ex)10000"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label>최고가:</label>
                                                <input id="search-input-price2" type="text" class="form-control" placeholder="ex)20000"/>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="여행 가격 검색" onclick="searchPrice()">
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!--헤더 오른쪽-->
                    <div class="desc2 animate-box">
                        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                            <p>Internet Programming <a href="https://github.com/minWachya/DS_InternetProgramming_20190054" target="_blank" class="fh5co-site-name">minWachya</a></p>
                            <!--검색 결과 있을 때-->
                            {% if search_info %}
                                <h2>{{ search_info }}</h2>
                                <h3>{{ search_info_count }}</h3>
                                <span class="price">{{ search_info_keyword }}</span>
                            {% else %}
                                <h2>자! 이제 시작이야✨</h2>
                                <h3>내 꿈을 위한 여행,피카추 <i class="fas fa-bolt"></i></h3>
                                <span class="price">$20190054</span>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>

            <!--svg-->
            {% include 'tour/base/base_svg_header.html' %}
            <!--svg-->

        </div>

    </div>
</div>