		<div id="fh5co-destination">
			<div class="tour-fluid">
				<div class="row">
					<!--위 4개-->
					<div class="col-md-12">
						<ul id="fh5co-destination-list" class="animate-box">
							<li class="one-forth text-center" style="background-image: url({{ categories.0.image.url }}); ">
								<a href="{{ categories.0.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.0 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.1.image.url }}); ">
								<a href="{{ categories.1.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.1 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.2.image.url }}); ">
								<a href="{{ categories.2.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.2 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.3.image.url }}); ">
								<a href="{{ categories.3.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.3 }}</h2>
									</div>
								</a>
							</li>
							<!--중간2개 + 소개 칸-->
							<li class="one-forth text-center" style="background-image: url({{ categories.4.image.url }}); ">
								<a href="{{ categories.4.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.4 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-half text-center">
								<div class="title-bg">
									<div class="case-studies-summary">
										<h2>Most Popular Destinations</h2>
										<span><a href="/tour/list">View All Destinations</a></span>
									</div>
								</div>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.5.image.url }}); ">
								<a href="{{ categories.5.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.5 }}</h2>
									</div>
								</a>
							</li>
							<!--아래 4개-->
							<li class="one-forth text-center" style="background-image: url({{ categories.6.image.url }}); ">
								<a href="{{ categories.6.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.6 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.7.image.url }}); ">
								<a href="{{ categories.7.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.7 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.8.image.url }}); ">
								<a href="{{ categories.8.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.8 }}</h2>
									</div>
								</a>
							</li>
							<li class="one-forth text-center" style="background-image: url({{ categories.9.image.url }}); ">
								<a href="{{ categories.9.get_absolute_url }}">
									<div class="case-studies-summary">
										<h2>{{ categories.9 }}</h2>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>