<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-6 col-sm-6 col-xs-12 fh5co-footer-link">
                    <h3>고객센터</h3>
                    <h1 style="color:white;">2019-0054</h1>
                    <p><span style="color:white;">운영 시간</span>&nbsp;&nbsp;매일 10:00~20:00</p>
                    <p><span style="color:white;">주소</span>&nbsp;&nbsp;서울특별시 도봉구 삼양로 144길 33</p>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Tour</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/tour/list">Package List</a></li>
                        {% if user.is_authenticated %}
                            {% if user.is_staff or user.is_superuser %}
                                <li><a href="/tour/create_tour">Package Create</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Accounts</h3>
                    <ul>
                        <li><a href="/accounts/signup">Sign Up</a></li>
                        <li><a href="/accounts/login">Log In</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>About</h3>
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="/about/me/{{ user.pk }}">About Me</a></li>
                        {% endif %}
                        <li><a href="/about/us">About Us</a></li>
                    </ul>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <!--내 깃허브-->
                        <a href="https://github.com/minWachya/DS_InternetProgramming_20190054"><i class="fab fa-github"></i></a>
                        <!--덕성여대 홈페이지-->
                        <a href="https://www.duksung.ac.kr/main.do"><i class="fas fa-school"></i></a>
                        <!--내 블로그-->
                        <a href="https://min-wachya.tistory.com/"><i class="fas fa-code"></i></a>
                    </p>
                    Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                </div>
            </div>
        </div>
    </div>
</footer>