<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<title>{% block head_title %}20190054 이민영{% endblock %}</title>

	<!--fontawesome 킷코드-->
    <script src="https://kit.fontawesome.com/c19d2a5456.js" crossorigin="anonymous"></script>


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'tour/images/favicon.ico' %}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'tour/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'tour/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'tour/css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'tour/css/superfish.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'tour/css/magnific-popup.css' %}">
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'tour/css/bootstrap-datepicker.min.css' %}">
	<!-- CS Select -->
	<link rel="stylesheet" href="{% static 'tour/css/cs-select.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/cs-skin-border.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'tour/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'tour/js/respond.min.js' %}"></script>
	<![endif]-->
	</head>

	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<!--네비바-->
		<!--블록 : nav_area-->
		{% block nav_area %}
			{% include 'tour/base/navbar/base_navbar.html' %}
		{% endblock %}
		<!--네비바 끝-->

		<!--헤더-->
		{% include 'tour/base/base_header_with_search.html' %}
		<!--헤더 끝-->

		<!--블록 : main_area-->
		{% block main_area %}
		{% endblock %}
		<!--블록 끝 : main_area-->

		<!--푸터-->
		{% include 'tour/base/base_footer.html' %}
		<!--푸터 끝-->

		</div><!-- END fh5co-page -->
		</div><!-- END fh5co-wrapper -->

	<!--부트스트랩:자바 스크립트 코드 추가-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	<!-- jQuery -->
	<script src="{% static 'tour/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'tour/js/jquery.easing.1.3.js' %} "></script>
	<!-- Bootstrap -->
	<script src="{% static 'tour/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'tour/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'tour/js/sticky.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'tour/js/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'tour/js/hoverIntent.js' %}"></script>
	<script src="{% static 'tour/js/superfish.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'tour/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'tour/js/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'tour/js/bootstrap-datepicker.min.js' %}"></script>
	<!-- CS Select -->
	<script src="{% static 'tour/js/classie.js' %}"></script>
	<script src="{% static 'tour/js/selectFx.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'tour/js/main.js' %}"></script>

	<!--검색 함수-->
    <script>
    	// 여행 장소 검색
        function searchPlace() {
            // 검색어 가져오기
            let searchValue = document.getElementById('search-input-place').value.trim();
            // 2자 이상만 검색되로록
            if (searchValue.length > 1)
                location.href = "/tour/search/place/" + searchValue + "/";
            else alert('검색어(' + searchValue + ')가 너무 짧습니다.');
        };
        // 엔터 쳐도 검색 되게
        document.getElementById('search-input-place').addEventListener('keyup',
            function(event) {
                if (event.key == 'Enter') { searchPlace(); }
            }
            )
    </script>

	<script>
		// 여행 가격 검색
        function searchPrice() {
            // 최저가 가져오기
            let minValue = document.getElementById('search-input-price1').value.trim();
            // 최고가 가져오기
            let maxValue = document.getElementById('search-input-price2').value.trim();
            // 2자 이상만 + 숫자만 검색되로록
            if (minValue.length < 5 || maxValue.length < 5 || isNaN(minValue) || isNaN(maxValue))
                alert('만원 이상부터, 숫자만 검색해주세요.');
            else location.href = "/tour/search/price/" + minValue + "_" + maxValue + "/";
        };
        // 엔터 쳐도 검색 되게
        document.getElementById('search-input-price1').addEventListener('keyup',
            function(event) {
                if (event.key == 'Enter') { searchPrice(); }
            }
            )
        document.getElementById('search-input-price2').addEventListener('keyup',
            function(event) {
                if (event.key == 'Enter') { searchPrice(); }
            }
            )
	</script>

	<script>
		// 여행 날짜 검색
        function searchDate() {
            // 여행 시작 날짜 가져오기
            let startDate = document.getElementById('search-input-date1').value.trim();
            // 여행 종료 날짜 가져오기
            let endDate = document.getElementById('search-input-date2').value.trim();
            // 10자만 검색되게 : yyyy-mm-dd && '-'가 2번 들어가는지 확인
            if (startDate.length == 10 && endDate.length == 10 && startDate.split('-').length == 3 && endDate.split('-').length == 3) {
            	// yyyy-mm-dd 형식 체크
            	check1 = startDate.split('-')
            	check2 = endDate.split('-')
            	if (check1[0].length == 4 && check1[1].length == 2 && check1[2].length == 2
            		&& check2[0].length == 4 && check2[1].length == 2 && check2[2].length == 2)
            		location.href = "/tour/search/date/" + startDate + "_" + endDate + "/";
            	else alert('yyyy-mm-dd 형식에 맞게 작성해주세요.');
            }
            else alert('yyyy-mm-dd 형식에 맞게 작성해주세요.');
        };
        // 엔터 쳐도 검색 되게
        document.getElementById('search-input-date1').addEventListener('keyup',
            function(event) {
                if (event.key == 'Enter') { searchDate(); }
            }
            )
        document.getElementById('search-input-date2').addEventListener('keyup',
            function(event) {
                if (event.key == 'Enter') { searchDate(); }
            }
            )
	</script>

	</body>
</html>

