{% load humanize %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Recent Package Tour</h3>
						<p>지금이 자리가 가장 많을 때예요!</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-bottom-padded-md">
					<!--최근 패키지 투어 3개 보이기-->
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<!--이미지-->
							<a href="{{ recent_tour.0.get_absolute_url }}"><img class="img-responsive" src="{{ recent_tour.0.image.url }}" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<!--상품명-->
									<h3><a href="{{ recent_tour.0.get_absolute_url }}">{{ recent_tour.0.name }}</a></h3>
									<!--가격-->
									<span class="posted_by">{{ recent_tour.0.price | intcomma }}원</span>
									<!--댓글 수-->
									<span class="comment"><a href="">{{ tour0_comment_count }}<i class="fas fa-comment-dots"></i></a></span>
									<!--설명-->
									<p>{{ recent_tour.0.head_text }}</p>
									<p><a href="{{ recent_tour.0.get_absolute_url }}">자세히</a></p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<!--이미지-->
							<a href="{{ recent_tour.1.get_absolute_url }}"><img class="img-responsive" src="{{ recent_tour.1.image.url }}" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<!--상품명-->
									<h3><a href="{{ recent_tour.1.get_absolute_url }}">{{ recent_tour.1.name }}</a></h3>
									<!--가격-->
									<span class="posted_by">{{ recent_tour.1.price | intcomma }}원</span>
									<!--댓글 수-->
									<span class="comment"><a href="">{{ tour1_comment_count }}<i class="fas fa-comment-dots"></i></a></span>
									<!--설명-->
									<p>{{ recent_tour.1.head_text }}</p>
									<p><a href="{{ recent_tour.1.get_absolute_url }}">자세히</a></p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="fh5co-blog animate-box">
							<!--이미지-->
							<a href="{{ recent_tour.2.get_absolute_url }}"><img class="img-responsive" src="{{ recent_tour.2.image.url }}" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<!--상품명-->
									<h3><a href="{{ recent_tour.2.get_absolute_url }}">{{ recent_tour.2.name }}</a></h3>
									<!--가격-->
									<span class="posted_by">{{ recent_tour.2.price | intcomma }}원</span>
									<!--댓글 수-->
									<span class="comment"><a href="">{{ tour2_comment_count }}<i class="fas fa-comment-dots"></i></a></span>
									<!--설명-->
									<p>{{ recent_tour.2.head_text }}</p>
									<p><a href="{{ recent_tour.2.get_absolute_url }}">자세히</a></p>
								</div>
							</div>
						</div>
					</div>

					<div class="clearfix visible-md-block"></div>
				</div>

				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-outline btn-lg" href="/tour/list">모든 여행지 보기<i class="fas fa-arrow-right"></i></a></p>
				</div>

			</div>
		</div>