<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="tabulation animate-box">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#place" aria-controls="place" role="tab" data-toggle="tab">여헹 장소 검색</a>
                                </li>
                                <li role="presentation">
                                    <a href="#date" aria-controls="date" role="tab" data-toggle="tab">여행 날짜 검색</a>
                                </li>
                                <li role="presentation">
                                    <a href="#price" aria-controls="price" role="tab" data-toggle="tab">여행 가격 검색</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--여행 장소 검색-->
                                <div role="tabpanel" class="tab-pane active" id="place">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <h3 style="color:black;">관심있는 여행지를 검색하세요.</h3>
                                                <label>여행 장소:</label>
                                                <input id="search-input-place" type="text" class="form-control" placeholder="지금 '제주'를 검색하세요!"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="여행 장소 검색" onclick="searchPlace()">
                                        </div>
                                    </div>
                                </div>
                                <!--여행 날짜 검색-->
                                <div role="tabpanel" class="tab-pane" id="date">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-12 mt">
                                            <div class="input-field">
                                                <label>City:</label>
                                                <input type="text" class="form-control" placeholder="Los Angeles, USA"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-start">Return:</label>
                                                <input type="text" class="form-control" placeholder="mm/dd/yyyy"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-end">Check Out:</label>
                                                <input type="text" class="form-control" placeholder="mm/dd/yyyy"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt">
                                            <section>
                                                <label>Rooms:</label>
                                                <select class="cs-select cs-skin-border">
                                                    <option value="" disabled selected>1</option>
                                                    <option value="economy">1</option>
                                                    <option value="first">2</option>
                                                    <option value="business">3</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label>Adult:</label>
                                                <select class="cs-select cs-skin-border">
                                                    <option value="" disabled selected>1</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label>Children:</label>
                                                <select class="cs-select cs-skin-border">
                                                    <option value="" disabled selected>1</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="Search Hotel">
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="price">
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label>City:</label>
                                                <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label>Destination:</label>
                                                <input type="text" class="form-control" id="to-place" placeholder="Tokyo, Japan"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-start">Departs:</label>
                                                <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy"/>
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-end">Return:</label>
                                                <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt">
                                            <section>
                                                <label>Rooms:</label>
                                                <select class="cs-select cs-skin-border">
                                                    <option value="" disabled selected>1</option>
                                                    <option value="economy">1</option>
                                                    <option value="first">2</option>
                                                    <option value="business">3</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label>Adult:</label>
                                                <select class="cs-select cs-skin-border">
                                                    <option value="" disabled selected>1</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label>Children:</label>
                                                <select class="cs-select cs-skin-border">
                                                    <option value="" disabled selected>1</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </section>
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="submit" class="btn btn-primary btn-block" value="Search Packages">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--헤더 오른쪽-->
                    <div class="desc2 animate-box">
                        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                            <p>Internet Programming <a href="https://github.com/minWachya/DS_InternetProgramming_20190054" target="_blank" class="fh5co-site-name">minWachya</a></p>
                            <!--검색 결과 있을 때-->
                            {% if search_info %}
                                <h2>{{ search_info }}</h2>
                                <h3>{{ search_info_count }}</h3>
                                <span class="price">{{ search_info_keyword }}</span>
                            {% endif %}
                            <!--카테고리일 때-->
                            {% if category %}
                                <h2>{{ category }}</h2>
                                <h3>{{ packagetour_list.count }}개의 패키지 여행이 있습니다.</h3>
                                <span class="price">$20190054</span>
                            {% else %}
                                <h2>여행 #떠나보자고</h2>
                                <h3>20190054 이민영</h3>
                                <span class="price">$20190054</span>
                            {% endif %}
                        </div>
                    </div>

                </div>

            </div>

            <!--물결 svg-->
            <div class="custom-shape-divider-bottom-1638256844"
                     style="position: absolute;
                            bottom: -100%;
                            left: 0;
                            width: 100%;
                            overflow: hidden;
                            line-height: 0;
                            transform: rotate(180deg);">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"
                        style="position: relative;
                                display: block;
                                width: calc(100% + 1.3px);
                                height: 100px;">
                        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill" style="fill: #F5F5F5;"></path>
                        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill" style="fill: #F5F5F5;"></path>
                        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill" style="fill: #F5F5F5;"></path>
                    </svg>
            </div>

        </div>

    </div>
</div>