<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<title>{% block head_title %}20190054 이민영{% endblock %}</title>

	<!--fontawesome 킷코드-->
    <script src="https://kit.fontawesome.com/c19d2a5456.js" crossorigin="anonymous"></script>


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'tour/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'tour/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'tour/css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'tour/css/superfish.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'tour/css/magnific-popup.css' %}">
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'tour/css/bootstrap-datepicker.min.css' %}">
	<!-- CS Select -->
	<link rel="stylesheet" href="{% static 'tour/css/cs-select.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/cs-skin-border.css' %}">
	<link rel="stylesheet" href="{% static 'tour/css/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'tour/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'tour/js/respond.min.js' %}"></script>
	<![endif]-->
	</head>

	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<!--네비바-->
		<!--블록 : nav_area-->
		{% block nav_area %}
			{% include 'tour/base/navbar/base_navbar.html' %}
		{% endblock %}
		<!--네비바 끝-->

		<!--헤더-->
		{% include 'tour/base/base_header_with_search.html' %}
		<!--헤더 끝-->

		<!--블록 : main_area-->
		{% block main_area %}
		{% endblock %}
		<!--블록 끝 : main_area-->

		<!--푸터-->
		{% include 'tour/base/base_footer.html' %}
		<!--푸터 끝-->

		</div><!-- END fh5co-page -->
		</div><!-- END fh5co-wrapper -->

	<!-- jQuery -->
	<script src="{% static 'tour/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'tour/js/jquery.easing.1.3.js' %} "></script>
	<!-- Bootstrap -->
	<script src="{% static 'tour/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'tour/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'tour/js/sticky.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'tour/js/jquery.stellar.min.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'tour/js/hoverIntent.js' %}"></script>
	<script src="{% static 'tour/js/superfish.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'tour/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'tour/js/magnific-popup-options.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'tour/js/bootstrap-datepicker.min.js' %}"></script>
	<!-- CS Select -->
	<script src="{% static 'tour/js/classie.js' %}"></script>
	<script src="{% static 'tour/js/selectFx.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'tour/js/main.js' %}"></script>

	<!--검색 함수-->
    <script>
    	// 여행 장소 검색
        function searchPlace() {
            // 검색어 가져오기
            let searchValue = document.getElementById('search-input-place').value.trim();
            // 2자 이상만 검색되로록
            if (searchValue.length > 1)
                location.href = "/tour/search/" + searchValue + "/";
            else alert('검색어(' + searchValue + ')가 너무 짧습니다.');
        };
        // 엔터 쳐도 검색 되게
        document.getElementById('search-input-place').addEventListener('keyup',
            function(event) {
                if (event.key == 'Enter') { searchPlace(); }
            }
            )
    </script>

	</body>
</html>

