	<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<!--위 3개-->
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<img class="img-responsive" src="{{ tour_agencies.0.logo.url }}" alt="{{ tour_agencies.0.name }}'s info">
							</span>
							<div class="feature-copy">
								<h3><a href="{{ tour_agencies.0.get_absolute_url }}" style="color:#000000;">{{ tour_agencies.0.name }}</a></h3>
								<p>{{ tour_agencies.0.address }}</p>
								<p><a>{{ tour_agencies.0.contact_number }}</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<img class="img-responsive" src="{{ tour_agencies.1.logo.url }}" alt="{{ tour_agencies.1.name }}'s info">
							</span>
							<div class="feature-copy">
								<h3><a href="{{ tour_agencies.1.get_absolute_url }}" style="color:#000000;">{{ tour_agencies.1.name }}</a></h3>
								<p>{{ tour_agencies.1.address }}</p>
								<p><a>{{ tour_agencies.1.contact_number }}</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<img class="img-responsive" src="{{ tour_agencies.2.logo.url }}" alt="{{ tour_agencies.2.name }}'s info">
							</span>
							<div class="feature-copy">
								<h3><a href="{{ tour_agencies.2.get_absolute_url }}" style="color:#000000;">{{ tour_agencies.2.name }}</a></h3>
								<p>{{ tour_agencies.2.address }}</p>
								<p><a>{{ tour_agencies.2.contact_number }}</a></p>
							</div>
						</div>
					</div>

				</div>

				<!--아래 3개-->
				<div class="row">

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<img class="img-responsive" src="{{ tour_agencies.3.logo.url }}" alt="{{ tour_agencies.3.name }}'s info">
							</span>
							<div class="feature-copy">
								<h3><a href="{{ tour_agencies.3.get_absolute_url }}" style="color:#000000;">{{ tour_agencies.3.name }}</a></h3>
								<p>{{ tour_agencies.3.address }}</p>
								<p><a>{{ tour_agencies.3.contact_number }}</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<img class="img-responsive" src="{{ tour_agencies.4.logo.url }}" alt="{{ tour_agencies.4.name }}'s info">
							</span>
							<div class="feature-copy">
								<h3><a href="{{ tour_agencies.4.get_absolute_url }}" style="color:#000000;">{{ tour_agencies.4.name }}</a></h3>
								<p>{{ tour_agencies.4.address }}</p>
								<p><a>{{ tour_agencies.4.contact_number }}</a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<img class="img-responsive" src="{{ tour_agencies.5.logo.url }}" alt="{{ tour_agencies.5.name }}'s info">
							</span>
							<div class="feature-copy">
								<h3><a href="{{ tour_agencies.5.get_absolute_url }}" style="color:#000000;">{{ tour_agencies.5.name }}</a></h3>
								<p>{{ tour_agencies.5.address }}</p>
								<p><a>{{ tour_agencies.5.contact_number }}</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>