{% extends 'tour/base/base_no_header.html' %}

{% load crispy_forms_tags %}

{% block nav_area %}
    {% include 'tour/base/navbar/base_navbar_about_us.html' %}
{% endblock %}

{% block main_area %}
<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<!--이미지-->
	<div class="fh5co-cover" data-stellar-background-ratio="0.2">

		<div class="desc">
			<div class="container">
				<div class="row">

					<div class="col-sm-5 col-md-5">
						<div class="tabulation animate-box">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">문의하기</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="flights">
									<div class="row">
										<!--이름-->
										<div class="col-xxs-6 col-xs-6 mt">
											<label>성함 : </label>
											<input type="text" class="form-control" placeholder="성함">
										</div>

										<!--이메일-->
										<div class="col-xxs-6 col-xs-6 mt">
											<label>이메일 : </label>
											<input type="text" class="form-control" placeholder="이메일">
										</div>

										<!--내용-->
										<div class="col-md-12">
											<label>문의 내용 : </label>
											<div class="form-group">
												<textarea name="" class="form-control" cols="30" rows="7" placeholder="문의 내용을 적어주세요." style="border-radius:5px; border-color:#ffffff; background-color:#F2EFEC;"></textarea>
											</div>
										</div>

										<!--전송 버튼-->
										<div class="col-xxs-12 col-xs-12 mt">
											<input type="submit" class="btn btn-primary btn-block" value="문의 메일 보내기">
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!--헤더 오른쪽-->
					<div class="desc2 animate-box">
						<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
							<p>Internet Programming <a href="https://github.com/minWachya/DS_InternetProgramming_20190054" target="_blank" class="fh5co-site-name">minWachya</a></p>
							<h2>Binary는 호남선~<i class="fas fa-music"></i></h2>
							<h3>num row column char에~</h3>
							<h3>안녕하세요! 국내 여행 소개, binary는 호남선입니다~^^</h3>
						</div>
					</div>

				</div>
			</div>

			<!--svg-->
			<div class="custom-shape-divider-bottom-1638256844"
				 style="position: absolute;
						bottom: -50%;
						left: 0;
						width: 100%;
						overflow: hidden;
						line-height: 0;
						transform: rotate(180deg);">
				<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"
					 style="position: relative;
							display: block;
							width: calc(100% + 1.3px);
							height: 100px;">
					<path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill" style="fill: #F5F5F5;"></path>
					<path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill" style="fill: #F5F5F5;"></path>
					<path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill" style="fill: #F5F5F5;"></path>
				</svg>
			</div>
			<!--svg-->

		</div>
	</div>
</div>


<div id="fh5co-contact" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Binary는 호남선을 소개합니다!</h3>
				<p>20190054 이민영</p>
			</div>
		</div>
		<form action="#">
			<div class="row animate-box">
				<div class="col-md-6">
					<h3 class="section-title">Binary는 호남선의 CEO, 이민영입니다^^</h3>
					<p>국내 여행은 호남선에서 클릭 한 번으로 편하게~ 즐기세요!</p>
					<ul class="contact-info">
						<li><i class="fas fa-map-marker-alt"></i>서울특별시 도봉구 삼양로 144길 33</li>
						<li><i class="fas fa-phone-alt"></i>010-2133-2520</li>
						<li><i class="fas fa-envelope"></i>minWachya@gmail.com</li>
						<li><i class="fab fa-github"></i><a href="https://github.com/minWachya/DS_InternetProgramming_20190054">minWachya/DS_InternetProgramming_20190054</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<button type="button" class="btn btn-primary center" data-toggle="modal" data-target="#exampleModal">카테고리별 게시글 수</button>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>


<!-- 카테고리 별 게시글 수 Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-xl">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">카테고리 별 게시글 수</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<canvas id="myChart"></canvas>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>


<!-- 차트 -->
  <script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [
        '{{ categories.0.name }}',
        '{{ categories.1.name }}',
        '{{ categories.2.name }}',
        '{{ categories.3.name }}',
        '{{ categories.4.name }}',
        '{{ categories.5.name }}',
        '{{ categories.6.name }}',
        '{{ categories.7.name }}',
        '{{ categories.8.name }}',
        '{{ categories.9.name }}',
        ],
        datasets: [{
          label: '게시글 수',
          data: [
          {{ categories.0.packagetour_set.count }},
          {{ categories.1.packagetour_set.count }},
          {{ categories.2.packagetour_set.count }},
          {{ categories.3.packagetour_set.count }},
          {{ categories.4.packagetour_set.count }},
          {{ categories.5.packagetour_set.count }},
          {{ categories.6.packagetour_set.count }},
          {{ categories.7.packagetour_set.count }},
          {{ categories.8.packagetour_set.count }},
          {{ categories.9.packagetour_set.count }},
          ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',

            'rgba(25, 206, 86, 0.2)',
            'rgba(75, 12, 192, 0.2)',
            'rgba(153, 102, 25, 0.2)',
            'rgba(255, 59, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',

            'rgba(25, 206, 86, 0.2)',
            'rgba(75, 12, 192, 0.2)',
            'rgba(153, 102, 25, 0.2)',
            'rgba(255, 59, 64, 0.2)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

  </script>


<script>


    var ctx = document.getElementById('myChart1');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [
        '{{ categories.0.name }}',
        '{{ categories.1.name }}',
        '{{ categories.2.name }}',
        '{{ categories.3.name }}',
        '{{ categories.4.name }}',
        '{{ categories.5.name }}',
        ],
        datasets: [{
          label: '# of Votes',
          data: [
          {{ categories.0.packagetour_set.count }},
          {{ categories.1.packagetour_set.count }},
          {{ categories.2.packagetour_set.count }},
          {{ categories.3.packagetour_set.count }},
          {{ categories.4.packagetour_set.count }},
          {{ categories.5.packagetour_set.count }},
           ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

  </script>

{% endblock %}