{% extends 'tour/base/base_no_header.html' %}

{% load crispy_forms_tags %}

{% block nav_area %}
    {% include 'tour/base/navbar/base_navbar_about_us.html' %}
{% endblock %}

{% block main_area %}
<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<!--이미지-->
	<!--헤드 이미지 있을 때만 출력-->
	{% if tour.head_image %}
	<!--헤드 이미지-->
	<div class="fh5co-cover" data-stellar-background-ratio="0.2" style="background-image: url({{ packagetour.head_image.url }});">
	{% else %}<!--기본 이미지-->
	<div class="fh5co-cover" data-stellar-background-ratio="0.2" style="background-image: url({{ packagetour.image.url }});">
	{% endif %}

		<div class="desc">
			<div class="container">
				<div class="row">

					<div class="col-sm-5 col-md-5">
						<div class="tabulation animate-box">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">여행 정보</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="flights">
									<div class="row">
										<!--여행 제목-->
										<div class="col-xxs-12 col-xs-12 mt">
											<h3 style="color:black;">{{ packagetour.name }}</h3>
										</div>
										<!--여행 요약-->
										<div class="col-xxs-12 col-xs-12 mt">
											<p style="color:black;">
												{{ packagetour.head_text }}
											</p>
										</div>
										<!--여행 일자-->
										<div class="col-xxs-12 col-xs-12 mt">
											<label>여행 일자 : </label>
											<p style="color:black;">
												{{ packagetour.start_day | date:"20y/m/d h:m" }} ~
												{{ packagetour.end_day | date:"20/m//d h:m"  }}
											</p>
										</div>

										<!--여행사-->
										<div class="col-xxs-6 col-xs-6 mt">
											<label>여행사 : </label>
											<div class="feature-left">
												<p style="color:black;">{{ packagetour.agency.name }}</p>
											</div>
										</div>

										<!--가격-->
										<div class="col-xxs-6 col-xs-6 mt">
											<label>가격 : </label>
											<div class="feature-left">
												<span style="color:black;">{{ packagetour.price }}<small>원</small></span>
											</div>
										</div>

										<!--구매 버튼-->
										<div class="col-xxs-12 col-xs-12 mt">
											<input type="submit" class="btn btn-primary btn-block" value="구매하기">
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!--헤더 오른쪽-->
					<div class="desc2 animate-box">
						<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
							<p>Internet Programming <a href="https://github.com/minWachya/DS_InternetProgramming_20190054" target="_blank" class="fh5co-site-name">minWachya</a></p>
							<h2>Binary는 호남선~<i class="fas fa-music"></i></h2>
							<h3>num row column char에~</h3>
							<h3>안녕하세요! 국내 여행 소개, binary는 호남선입니다~^^</h3>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<div id="fh5co-contact" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Binary는 호남선을 소개합니다!</h3>
						<p>20190054 이민영</p>
					</div>
				</div>
				<form action="#">
					<div class="row animate-box">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
								<li><i class="icon-phone2"></i>+ 1235 2355 98</li>
								<li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
								<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}