		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">
							<!--헤더 왼쪽-->
							<div class="col-sm-5 col-md-5">
								<div class="tabulation animate-box">

								</div>
							</div>

							<!--헤더 오른쪽-->
							<div class="desc2 animate-box">
								<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
									<p>Internet Programming <a href="https://github.com/minWachya/DS_InternetProgramming_20190054" target="_blank" class="fh5co-site-name">minWachya</a></p>
									<h2>여행 #떠나보자고</h2>
									<h3>20190054 이민영</h3>
									<span class="price">$20190054</span>
<!--									 <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>