<footer>
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Interest</h3>
                    <ul>
                        <li><a href="#">Beaches</a></li>
                        <li><a href="#">Family Travel</a></li>
                        <li><a href="#">Budget Travel</a></li>
                        <li><a href="#">Food &amp; Drink</a></li>
                        <li><a href="#">Honeymoon and Romance</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Best Places</h3>
                    <ul>
                        <li><a href="#">Boracay Beach</a></li>
                        <li><a href="#">Dubai</a></li>
                        <li><a href="#">Singapore</a></li>
                        <li><a href="#">Hongkong</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                    <h3>Affordable</h3>
                    <ul>
                        <li><a href="#">Food &amp; Drink</a></li>
                        <li><a href="#">Fare Flights</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 fh5co-footer-link">
                    <h3>고객센터</h3>
                    <h1>2019-0054</h1>
                    <p>운영 시간</p>
                    <p>매일 10:00~20:00</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fas fa-school"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </p>
                    Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                </div>
            </div>
        </div>
    </div>
</footer>