{% extends 'tour/base/base_no_header.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Edit Package Tour{% endblock %}

{% block nav_area %}
    {% include 'tour/base/navbar/base_navbar_list.html' %}
{% endblock %}

{% block main_area %}

    <div id="fh5co-car" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h3>댓글 수정하기</h3>
                    <p>내가 작성항 댓글을 수정할 수 있습니다.</p>
                </div>

                <div class="row row-bottom-padded-md">
					<div class="col-md-12 animate-box">
                        <form method="post" enctype="multipart/form-data">
                            <!--csrf_token 반드시 입력-->
                            {% csrf_token %}

                            {{ form | crispy }}

                            <br>

                            <button type="submit" class="btn btn-primary float-right">댓글 수정 완료!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--마크다운 사용-->
    {{ form.media }}
{% endblock %}