{% extends 'tour/base/base.html' %}

{% block nav_area %}
    {% include 'tour/base/navbar/base_navbar_list.html' %}
{% endblock %}

{% load humanize %}

<div class="container">
{% block main_area %}

<!--패키지 여행이 있으면-->
    {% if packagetour_list.exists %}

        <div id="fh5co-car" class="fh5co-section-gray">
                <div class="container">
                    <div class="row">

                        <!--글쓰기 버튼-->
                        {% if user.is_authenticated %}
                            {% if user.is_staff or user.is_superuser %}
                                <a class="btn primary btn-outline btn-lg float-right" href="/tour/create_tour">
                                    <i class="fas fa-pen"></i>
                                    여행 등록하기
                                </a>
                            {% endif %}
                        {% endif %}

                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                            <h3>패키지 여행 목록</h3>
                            <p>다양한 패키지 여행 정보들을 확인할 수 있습니다.</p>
                        </div>
                    </div>

                <!--패키지 갯수만큼 반복하기-->
                {% for tour in packagetour_list %}
                <div class="col-md-6 animate-box">
                    <div class="car">
                        <div class="one-4">
                            <!--여행 정보-->
                            <a href="{{ tour.get_absolute_url }}"><h3>{{ tour.name | truncatechars:14 | safe }}</h3></a>
                            <p style="color:white;">{{ tour.head_text | truncatechars:20 | safe }}</p>
                            <p style="color:white;">{{ tour.agency.name }}</p>
                            <p style="color:white;">{{ tour.end_day | date:"m-d" }} ~ {{ tour.start_day | date:"m-d" }}</p>
                            <span class="price">{{ tour.price | intcomma }}<small>원</small></span>
                        </div>
                        <!--이미지-->
                        <!--헤드 이미지 있을 때만 출력-->
                        {% if tour.head_image %}
                            <!--헤드 이미지-->
                            <div class="one-1 img-tumbnail" style="background-image: url({{ tour.head_image.url }}); overflow: hidden;">
                                <!--카테고리-->
                                {% if tour.category %}&nbsp;
                                    <span class="badge rounded-pill"><a href="{{ tour.category.get_absolute_url }}">{{ tour.category }}</a></span>
                                {% endif %}

                                <!--태그-->
                                {% if tour.tags.exists %}
                                    {% for tag in tour.tags.all %}
                                    <i class="fas fa-hashtag ml-auto" style="color:gray; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">
                                        <a href="{{ tag.get_absolute_url }}" style="color:gray; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">{{ tag }}</a>
                                    </i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% else %}
                            <!--기본 이미지-->
                            <div class="one-1 img-tumbnail" style="background-image: url({{ tour.image.url }}); overflow: hidden;">
                                <!--카테고리-->
                                {% if tour.category %}
                                    <span class="badge rounded-pill bg-warning text-dark"><a href="{{ tour.category.get_absolute_url }}">{{ tour.category }}</a></span>
                                {% endif %}

                                <!--태그-->
                                {% if tour.tags.exists %}
                                    {% for tag in tour.tags.all %}
                                    <i class="fas fa-hashtag ml-auto">
                                        <a href="{{ tag.get_absolute_url }}" style="color:gray;">{{ tag }}</a>
                                    </i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}



                    </div>
                </div>
                {% endfor %}

                <!--페이지네이션-->
                <!--다 보여줄 페이지가 있으면 페이지네이션 보이기-->
                {% if is_paginated %}
                <div class="col-md-12 text-center animate-box">
                    <!--보여줄 이전 페이지가 있으면 페이지네이션 보이기-->
                    {% if page_obj.has_previous %}
                    <a class="btn btn-primary btn-outline btn-lg" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i>이전 페이지</a>
                    <!--없으면 비활성화-->
                    {% else %}
                    <a class="btn btn-primary btn-outline btn-lg disabled" href="#"><i class="fas fa-arrow-left"></i>이전 페이지</a>
                    {% endif %}

                    <!--보여줄 다음 페이지가 있으면 페이지네이션 보이기-->
                    {% if page_obj.has_next %}
                    <a class="btn btn-primary btn-outline btn-lg" href="?page={{ page_obj.next_page_number }}">다음 페이지<i class="fas fa-arrow-right"></i></a>
                    <!--없으면 비활성화-->
                    {% else %}
                    <a class="btn btn-primary btn-outline btn-lg disabled" href="#">다음 페이지<i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                {% endif %}
                </div>
			</div>
		</div>
    {% else %}
        <div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>이런! 아직 게시글이 없습니다.</h3>
						<p>대신 저화질의 귀여운 피카츄를 보여드립니다.</p>
					</div>

                    <div class="row">
						<div class="col-md-8 col-md-offset-2 text-center animate-box">
							<!--이미지-->
							<img src="../../../../static/tour/images/pipi.jpg" alt="error img : pikachu" width="50%">
						</div>
				    </div>

				</div>
			</div>
		</div>
    {% endif %}

{% endblock %}
</div>