<!DOCTYPE html>
{% load static %}
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
		<link rel="stylesheet" href="{% static 'tour/css/ticket.css' %}">
        <link rel="stylesheet" href="{% static 'tour/css/ticket.css.map' %}">
	</head>

	<body>

    <!--패키지 여행이 있으면-->
    {% if packagetour_list.exists %}

    <!--패키지 갯수만큼 반복하기-->
    {% for tour in packagetour_list %}
<!--        <img src="{{ tour.head_image }}">-->

        <!--티켓 시작-->
        <div class="cardWrap">
            <div class="card cardLeft">
                <h1>[하나투어]<span>{{ tour.tour_name }}</span></h1>
                <div class="title">
                    <span>여행 소개</span>
                    <h2>{{ tour.head_text }}</h2>
                </div>

                <div class="name">
                    <span>가격</span>
                    <h2>{{ tour.tour_price }}</h2>
                </div>

                <div class="seat">
                    <span>여행 시작일</span>
                    <h2>{{ tour.tour_start_day | date:"20y-m-d" }}</h2>
                </div>

                <div class="time">
                    <span>여행 종료일</span>
                    <h2>{{ tour.tour_end_day | date:"20y-m-d" }}</h2>
                </div>
            </div>

            <div class="card cardRight">
                <div class="eye"></div>
                <div class="number">
                    <h3>156</h3>
                    <span>seat</span>
                </div>
                <div class="barcode"></div>
            </div>

        </div>
        <!--티켓 끝-->
    {% endfor %}

    {% else %}
        <h2>아직 게시물이 없습니다.</h2>
    {% endif %}


	</body>
</html>

