{% extends 'tour/base/base_no_header.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Edit Package Tour{% endblock %}

{% block nav_area %}
    {% include 'tour/base/navbar/base_navbar_list.html' %}
{% endblock %}

{% block main_area %}

    <div id="fh5co-car" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h3>패키지 여행 수정하기</h3>
                    <p>패키지 여행을 수정할 수 있습니다.</p>
                </div>

                <div class="row row-bottom-padded-md">
					<div class="col-md-12 animate-box">
                        <form method="post" enctype="multipart/form-data">
                            <!--csrf_token 반드시 입력-->
                            {% csrf_token %}

                            {{ form | crispy }}

                            <!--태그 입력 부분-->
                            <div class="div_id_tags_str">
                                <label for="id_tags_str">Tags:</label>
                                <input type="text" name="tags_str" value="{{ tags_str_default }}" required id="id_tags_str" class="textinput textInput form-control">
                            </div>

                            <br>

                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--마크다운 사용-->
    {{ form.media }}
{% endblock %}