<!DOCTYPE html>
{% load static %}
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Travel &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
		<link rel="stylesheet" href="{% static 'tour/css/ticket.css' %}">
	</head>

	<body>

        <div class="cardWrap">
            <div class="card cardLeft">
                <h1>[하나투어]<span>부산 여행 패키지</span></h1>
                <div class="title">
                    <span>여행 소개</span>
                    <h2>종강하고 나서 오세요%^^</h2>
                </div>

                <div class="name">
                    <span>가격</span>
                    <h2>50,000</h2>
                </div>

                <div class="seat">
                    <span>여행 시작일</span>
                    <h2>2021-10-10</h2>
                </div>

                <div class="time">
                    <span>여행 종료일</span>
                    <h2>2021-10-10</h2>
                </div>
            </div>

            <div class="card cardRight">
                <div class="eye"></div>
                <div class="number">
                    <h3>156</h3>
                    <span>seat</span>
                </div>
                <div class="barcode"></div>
            </div>

        </div>
        <!--티켓 끝-->


	</body>
</html>